<img src="/assets/logo-indtextbr.png" width="100">
<div class="card-container">
  <div class="row m-0">
    <app-icon-sigo Title="Gestão de Normas" ClassIcon="fa fa-sticky-note"></app-icon-sigo>
    <app-icon-sigo Title="Assessorias e Consultorias" ClassIcon="fa fa-users black"></app-icon-sigo>
    <app-icon-sigo Title="Gestão do Proceso Industrial" ClassIcon="fa fa-industry red"></app-icon-sigo>
    <app-icon-sigo Title="Logística" ClassIcon="fa fa-truck tomato"></app-icon-sigo>
    <app-icon-sigo Title="Inteligencia de Negócio" ClassIcon="fa fa-database darkcyan"></app-icon-sigo>
    <app-icon-sigo Title="Legado - Gestão de Processos Industriais" ClassIcon="fa fa-paste green"></app-icon-sigo>
    <app-icon-sigo Title="Monitoramento de Vendas" ClassIcon="fa fa-cart-arrow-down orange"></app-icon-sigo>
    <app-icon-sigo Title="Inteligencia de Negócio" ClassIcon="fa fa-database darkcyan"></app-icon-sigo>
    <app-icon-sigo Title="Segurança e Qualidade" ClassIcon="fa fa-eye steelblue"></app-icon-sigo>
  </div>
</div>

<form class="form-signin">
  <img class="mb-4 mt-4 text-center" src="/assets/logo-sigo.png" alt="" width="72">

  <h1 class="h3 mb-3 font-weight-normal">Sistema Integrado de Gestão e Operação</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">

  <button class="btn btn-lg btn-dark btn-block" type="submit" (click)="Entrar()">Entrar</button>
</form>